@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&family=Shrikhand&display=swap');
@import "utils/variables.scss";
  
  :root {
    --first-color:#EAEAEA;
    --second-color:#F7F7F7;
    --third-color:white;
    --bouton-like: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    --tertiaire: #99e2d0;
  }
  
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: $third-color;
  }

  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }