/***footer***/

footer {
    width: 100%;
    background-color: #353535;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    margin-left: 25px;
  
    @media (min-width: 768px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      gap: 20px;
      height: 233px;
  
    }
  
    #Logo-footer-omf {
      font-family: 'shrikhand';
      font-size: 18px;
      font-weight: 400;
      margin: 17px 0px 16px 0px;
    }
  
    h1 {
      color: white;
      font-family: 'Shrikhand';
      font-style: italic;
      font-size: 18px;
      font-weight: 400;
    }
  }
  
  .lienParagraphe {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: 'Roboto';
  
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    a {
      color: white;
      text-decoration: none;
    }
  }
  
  .fa-solid {
    &.fa-utensils, &.fa-handshake-angle {
      color: white;
    }
  }
  
  .propal {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }
  
  .fa-solid {
    &.fa-handshake-angle {
      font-size: 11px;
    }
  
    &.fa-utensils {
      font-size: 13px;
    }
  }
  
  .partenaire {
    display: flex;
    flex-direction: row;
    gap: 10.09px;
  }