.submit {
    margin: 40px 0 40px 0px;
    font-size: 16px;
    font-weight: 500;
    width: 186px;
    @include button;
    @include gradient;
    
  }



.commandez {
  display: flex;
  align-items: center;
  justify-content: center;
}
