@import "../utils/mixins.scss";

/***titres et recherches***/

main {
    width: 100%;
  }
  
  .titres_et_recherches {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: var(--second-color);
  }
  
  .titres {
    h1 {
      width: 275px;
      margin-left: 42px;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      font-family: 'Roboto';
      
      @media (min-width: 700px) {
        width: 100%;
        font-size: 28px;
        margin-left: 0;
      }
    }
  
    p {
      width: 315px;
      margin-left: 34px;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      font-family: 'Roboto';
      
      @media (min-width: 700px) {
        width: 100%;
        font-size: 22px;
        margin-left: 0;
      }
    }
  }
  
  .recherches {
    margin-top: 40px;
    background-color: var(--bouton-like);
    width: 70%;
  }
  
  .btn-explore {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
    width: 84%;
    @include button;
    @include gradient;
  
    @media (min-width: 700px) {
      width: 400px;
      font-size: 18px;
    }
  }