@import "sass/base.scss";
@import "sass/layout/header";
@import "sass/layout/titres-et-recherches";
@import "sass/layout/fonctionnement";
@import "sass/layout/restaurants";
@import "sass/layout/footer";
@import "sass/utils/variables";
@import "sass/base.scss";
@import "pages-restaurant";


.loader {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  inset: 0;
  background: black;
  opacity: 0.8;
  animation: disappear 200ms 2.9s forwards;
  font-family: 'Shrikhand';
}

.loader-text {
  position: relative;
  font-size: 14vw;
  color: rgb(39, 37, 37);
  -webkit-text-stroke: 0.3vw #383d52;
  letter-spacing: 1px;
  border-bottom: 10px solid #383d52;
  
  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-image: var(--bouton-like);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0vw #383d52;
    border-bottom: 10px solid #9356DC;
    overflow: hidden;
    animation: animate 3s linear infinite;
  }
}
 @keyframes disappear {
  to {
    transform: scale(0);
  }
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.display-just-center {
  display: flex;
  justify-content: center;
}




  .new {
    position: relative;
  }

  .new::before {
      content: "Nouveau";
      position: absolute;
      height: 29px;
      width: 80px;
      display: grid;
      place-items: center;
      border-radius: 2px;
      color: darken($tertiaire, 45%);
      background-color: $tertiaire;
      right: 15px;
      top: 15px;
    }