@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --first-color:#EAEAEA;
  --second-color:#F7F7F7;
  --third-color:white;
  --bouton-like: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  --tertiaire: #99e2d0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: var(--third-color);
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  inset: 0;
  background: black;
  opacity: 0.8;
  animation: disappear 200ms 2.9s forwards;
}

.loader-text {
  position: relative;
  font-size: 14vw;
  color: rgb(39, 37, 37);
  -webkit-text-stroke: 0.3vw #383d52;
  letter-spacing: 1px;
  border-bottom: 10px solid #383d52;
}
.loader-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: var(--tertiaire);
  -webkit-text-stroke: 0vw #383d52;
  border-bottom: 10px solid var(--tertiaire);
  overflow: hidden;
  animation: animate 3s linear infinite;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.display-just-center {
  display: flex;
  justify-content: center;
}

/***header***/
header {
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--third-color);
}

#Logo_Ohmyfood {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60%;
  margin-top: 14px;
  max-width: 380px;
}

.emplacement {
  width: 100%;
  height: 50px;
  flex-direction: row;
  align-items: center;
  background-color: var(--first-color);
  gap: 17px;
  margin-top: 8.5px;
}

.search {
  background-color: var(--first-color);
  border: none;
  font-size: 16px;
}

.Localisation {
  margin-left: 50px;
}

/***titres et recherches***/
main {
  width: 100%;
}

.titres_et_recherches {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: var(--second-color);
}

.titres h1 {
  width: 275px;
  margin-left: 42px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
@media (min-width: 700px) {
  .titres h1 {
    width: 100%;
    font-size: 28px;
    margin-left: 0;
  }
}
.titres p {
  width: 315px;
  margin-left: 34px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 700px) {
  .titres p {
    width: 100%;
    font-size: 22px;
    margin-left: 0;
  }
}

.recherches {
  margin-top: 40px;
  background-color: var(--bouton-like);
  width: 70%;
}

.btn-explore {
  text-decoration: none;
  color: white;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  width: 84%;
  height: 50px;
  border: none;
  background: var(--bouton-like);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btn-explore:hover {
  filter: brightness(1.25);
  transition-duration: 2s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 700px) {
  .btn-explore {
    width: 400px;
    font-size: 18px;
  }
}

/***fonctionnement***/
.fonctionnement {
  margin-top: 48px;
  height: auto;
  margin-bottom: 68px;
  background-color: var(--third-color);
}

.titre_fonctionnement {
  margin-left: 20px;
  margin-top: 48px;
}
@media (min-width: 995px) {
  .titre_fonctionnement {
    margin-left: 4.5%;
  }
}
.titre_fonctionnement h1 {
  margin-top: 48px;
}

.fonctionnement_card {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  gap: 24.92px;
}
@media (min-width: 995px) {
  .fonctionnement_card {
    justify-content: center;
  }
}

.card {
  flex-direction: row;
  align-items: center;
  gap: 27px;
  border-radius: 20px;
  background-color: var(--second-color);
  width: 86%;
  height: 72.38px;
  margin-left: 32.51px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  max-width: 550px;
  position: relative;
  flex-grow: 1;
}
.card h2 {
  font-size: 16px;
  font-family: 500;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  left: -12px;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: white;
  font-size: 14.1818px;
}

.fa-solid.fa-store {
  color: #9356DC;
}

/***restaurant***/
.restaurants {
  background-color: var(--second-color);
  width: 100%;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 66px;
  border: 2px solid;
}
@media (min-width: 476px) {
  .restaurant-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.titre_restaurant h1 {
  margin-left: 20px;
  padding-top: 54px;
}

.card-resto {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  width: 90.7%;
  height: 251px;
  border-radius: 15px;
  background-color: var(--third-color);
  max-width: 378px;
}
.card-resto img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 56%;
  border-radius: 15px 15px 0px 0px;
}

.card-content {
  margin-top: -10px;
  margin-left: 13px;
}

.card-subtitle {
  margin-top: -10px;
}

.card-resto a {
  text-decoration: none;
  color: black;
}

.card-txt {
  display: flex;
  flex-direction: column;
  position: relative;
}

.fa-regular.fa-heart {
  position: absolute;
  margin-top: -54px;
  margin-left: 273px;
  font-size: 22px;
}

.fa-solid.fa-heart {
  position: absolute;
  opacity: 0;
  margin-top: -54px;
  margin-left: 273px;
  font-size: 22px;
}
.fa-solid.fa-heart:hover {
  opacity: 1;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: var(--bouton-like);
  transition: all 500ms;
}

#NoteEnchantée {
  -o-object-fit: cover;
     object-fit: cover;
  height: 35%;
}

/***footer***/
footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-left: 25px;
}
@media (min-width: 600px) {
  .footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    gap: 20px;
    height: 233px;
  }
}
.footer #Logo-footer-omf {
  width: 27%;
  font-size: 18px;
  font-weight: 400px;
  filter: invert(1);
  margin: 17px 0px 16px 0px;
  max-width: 146px;
}
.footer h1 {
  color: white;
  font-family: "Shrikhand";
  font-style: italic;
  font-size: 18px;
  font-weight: 400px;
}

.lienParagraphe {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 600px) {
  .lienParagraphe {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.lienParagraphe a {
  color: white;
  text-decoration: none;
}

.fa-solid.fa-utensils, .fa-solid.fa-handshake-angle {
  color: white;
}

.propal {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.fa-solid.fa-handshake-angle {
  font-size: 11px;
}
.fa-solid.fa-utensils {
  font-size: 13px;
}

.partenaire {
  display: flex;
  flex-direction: row;
  gap: 10.09px;
}/*# sourceMappingURL=style.css.map */